@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Cat Camera Gear</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Specs</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cat Arc II</td>
      <td>$1,400</td>
      <td>Weight: 5lb 11oz Load Capacity: 15 Pounds up to 45°, 5 pounds at 90°</td>
      <td>5 Stars</td>
    </tr>
    <tr>
      <td>24" Cat Slider</td>
      <td>$600</td>
      <td>Weight: 4lbs Load Capacity: 15lbs</td>
      <td>4.5 Stars</td>
    </tr>
    <tr>
      <td>Cat Focus</td>
      <td>$300</td>
      <td>Weight: 7 oz (28g) (Works with most cine lenses)</td>
      <td>4 Stars</td>
    </tr>
    <tr>
        <td>Cat Slider Motor</td>
        <td>$400</td>
        <td>Weight: 1 bs 8 oz (0.68 kg) Max Speed: 5" per second (12.7 cm/sec)</td>
        <td>5 Stars</td>
    </tr>

    <h2>About Cat Camera Gear</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Etiam erat velit scelerisque in dictum non. Tortor vitae purus 
        faucibus ornare. Iaculis eu non diam phasellus. Sapien nec sagittis aliquam malesuada bibendum. 
        In arcu cursus euismod quis viverra nibh cras pulvinar. Nulla facilisi cras fermentum odio eu 
        feugiat. Tempus iaculis urna id volutpat lacus laoreet. Nunc congue nisi vitae suscipit tellus. 
        Sit amet luctus venenatis lectus magna fringilla urna. Mattis enim ut tellus elementum sagittis 
        vitae et. Rutrum tellus pellentesque eu tincidunt. Elementum curabitur vitae nunc sed velit 
        dignissim. Ultricies integer quis auctor elit sed vulputate mi. Nisl pretium fusce id velit ut. 
        Sodales ut eu sem integer vitae justo eget.
    </p>
  </tbody>
</table>


