@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Cat Camera Gear</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Specs</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cat Arc II</td>
      <td>$1,400</td>
      <td>Weight: 5lb 11oz Load Capacity: 15 Pounds up to 45°, 5 pounds at 90°</td>
      <td>5 Stars</td>
    </tr>
    <tr>
      <td>24" Cat Slider</td>
      <td>$600</td>
      <td>Weight: 4lbs Load Capacity: 15lbs</td>
      <td>4.5 Stars</td>
    </tr>
    <tr>
      <td>Cat Focus</td>
      <td>$300</td>
      <td>Weight: 7 oz (28g) (Works with most cine lenses)</td>
      <td>4 Stars</td>
    </tr>
    <tr>
        <td>Cat Slider Motor</td>
        <td>$400</td>
        <td>Weight: 1 bs 8 oz (0.68 kg) Max Speed: 5" per second (12.7 cm/sec)</td>
        <td>5 Stars</td>
    </tr>
  </tbody>
</table>


<div class="card-group">
  <div class="card">
    <img src="https://cdn.shopify.com/s/files/1/0658/0687/products/SKU205-Arc-II-1_32a435af-12ab-4607-987c-6cd28cd07866_750x.webp.jpg?v=1658179615" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cat Arc II</h5>
      <p class="card-text">
          Cat Arc II is a compact 4-axis motorized pan/tilt/focus 
          head that enables you to capture unreal video and time-lapse shots. It can 
          hold up to 15lbs of equipment (camera + lens + monitor, etc) and can mount to a 
          tripod or to your Cat Slider.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.shopify.com/s/files/1/0658/0687/products/SKU201_-_Rhino_Slider_Carbon_24_750x.png.jpg?v=1551222670" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">24" Cat Slider</h5>
      <p class="card-text">
          24" Cat Slider the ultimate all-round camera slider. 
          Lightweight yet extremely versatile, it will fit most filmmaker’s needs.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.shopify.com/s/files/1/0658/0687/products/SKU243-Rhino-Focus-V2_1_750x.png.jpg?v=1636758313" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cat Focus</h5>
      <p class="card-text">
          The all-new Cat Focus delivers 2x the torque and 2x the speed capability 
          as its predecessor. Like the original, it works with Cat Arc II to let you 
          keyframe your focus to capture breathtaking rack focus shots or to keep an 
          object in focus as you slide. The ultra precise Japanese-made gearing is adjustable 
          from the outside of the unit so you can dial in your backlash on set if needed.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.shopify.com/s/files/1/0658/0687/products/SKU256-High-Speed-Motor-V2_1_750x.png.jpg?v=1636757090" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cat Slider Motor</h5>
      <p class="card-text">
          The all-new High Speed Motor delivers quick and silent movement 
          for your Arc II and Cat Slider. It installs in seconds and enables you 
          to capture silky smooth slides at up to 5” per second. Achieve vertical 
          slides with up to a 10lb payload with the new High Torque Motor.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>




